/*
========================================================================================
    Nextflow config file for HPC specific parameters
========================================================================================
*/

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${projectDir}/singularity_images"
}


executor {
	pollInterval = '30sec'
	queueSize = 800
	queue = 'cpu'
}

process {
    executor = 'slurm'
    max_memory = 224.GB
	max_cpus = 32
    errorStrategy = 'finish'
    cache = 'lenient'
}

params {
    hlahd_ignored_read_length  = 50  
}
