/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

----------------------------------------------------------------------------------------
*/

workDir='test/temp_files'

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Parameters
    fish_reads_only = true
    run_alt_splicing_analysis = false

    // Out directory
    outdir = 'test/results'
    tracedir = "${params.outdir}/pipeline_info"

}   

singularity {
    enabled = true
    cacheDir = "${baseDir}/singularity_images"
    autoMounts = true
    runOptions = "-B /nemo"
}

process {

    executor = 'local'
    errorStrategy = 'terminate'
    cache = 'lenient'
}
